body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    width: 340px;
    height: 400px;
    background-color: #0F0013;
    overflow: hidden;
    border-radius: 20px;
}

.popup-container {
    width: 340px;
    height: 400px;
    background-color: #0F0013;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #B6A5BD;
    margin: 0 0 18px;
    line-height: 1;
}

.subtitle {
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    margin: 0 0 40px;
}

button#proceedButton {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 900; 
    background-color: #D0CFF2; 
    color: #0F0013; 
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    gap: 8px;
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.2s ease;
}

button#proceedButton:hover {
    background-color: #b8b6e0;
}

button#proceedButton:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #a19fc6;
}